altair
annotated-types
anyio
appdirs
appnope
arpeggio
asttokens
attrs
biopython
blinker
cachetools
certifi
charset-normalizer
click
cobra
comm
contourpy
cycler
dash
dash-cytoscape
debugpy
decorator
depinfo
diskcache
dnspython
executing
flask
flexcache
flexparser
fonttools
future
gitdb
gitpython
graphviz
h11
httpcore
httpx
idna
importlib-metadata
iniconfig
ipykernel
ipython
ipython-pygments-lexers
itsdangerous
jedi
jinja2
jsonpickle
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
kiwisolver
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
mpmath
narwhals
nest-asyncio
networkx
numpy
optlang
orjson
packaging
pandas==2.3.3
parso
pexpect
pillow
pint
platformdirs
plotly
pluggy
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pydantic
pydantic-core
pydeck
pygments
pymongo
pyparsing
pytest
python-dateutil
python-libsbml
pytz
pyvis
pyzmq
referencing
requests
retrying
rich
rpds-py
ruamel-yaml
scipy
setuptools
six
smmap
stack-data
swiglpk
sympy
tenacity
toml
tornado
traitlets
typing-extensions
typing-inspection
tzdata
urllib3
vivarium-cobra
vivarium-core
wcwidth
werkzeug
xlrd
zipp
gunicorn